@{
    ViewBag.Title = "Meal Plan";
    var mealTypes = new List<string> { "Breakfast", "Lunch", "Dinner" };
}
<div>
    <h2>@ViewBag.Header</h2>
    <form style="margin-bottom: 10px" method="post" action="@Url.Action("ToggleWeek", "Home", new { currentWeek = ViewBag.CurrentWeek })">
        <button>Switch Weeks</button>
    </form>
    
    <form style="margin-bottom: 10px" id="addForm" method="post" action="@Url.Action("addNeededPlannedMealIngredients", "Home")">

        <button id="submitButton">Add Ingredients For Remaining Meals</button>
        <label for="AllIngredients">Add all Ingredients</label>
        <input type="checkbox" id="AllIngredients" name="ingredientType" value="All">
        @if (ViewBag.error != null)
        {
            <div class="alert alert-danger">@ViewBag.error</div>
        }
    </form>

</div>
<div class="row">
    
    <div class="col-md-6" id="meal-table">
        <table>
            @{ string[] days = {"Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"}; }

            @for (int i = 0; i < days.Length; i++)
            {
                <tr class="day-row" data-day="@days[i]">
                    <td style="background-color: #33b5e5;;" colspan="4">@days[i]</td>
                </tr>
                <tr class="details-row hidden" data-day="@days[i]">
                    <td>Breakfast</td>
                    <td id="@($"{days[i]}BreakfastDetails")">@ViewBag.DefaultValues[i]</td>
                    <td><button id="@($"{days[i]}BreakfastButton")" onclick="showRecipeDetails('@days[i]', 'Breakfast')">View Recipe</button></td>
                    <td><button onclick="removeColumn('@days[i]', 'Breakfast')">Remove</button></td>
                </tr>
                <tr class="details-row hidden" data-day="@days[i]">
                    <td>Lunch</td>
                    <td id="@($"{days[i]}LunchDetails")">@ViewBag.Lunch[i]</td>
                    <td><button id="@($"{days[i]}LunchButton")" onclick="showRecipeDetails('@days[i]', 'Lunch')">View Recipe</button></td>
                    <td><button onclick="removeColumn('@days[i]', 'Lunch')">Remove</button></td>
                </tr>
                <tr class="details-row hidden" data-day="@days[i]">
                    <td>Dinner</td>
                    <td id="@($"{days[i]}DinnerDetails")">@ViewBag.Dinner[i]</td>
                    <td><button id="@($"{days[i]}DinnerButton")" onclick="showRecipeDetails('@days[i]', 'Dinner')">View Recipe</button></td>
                    <td><button onclick="removeColumn('@days[i]','Dinner')">Remove</button></td>
                </tr>
            }
        </table>
    </div>
    
    <div class="col-md-6" id="recipe-details">
        <div id="recipe-details-box" style="overflow: auto;">
            <form id="shareMeal" method="POST" style="display: none">
                <input type="hidden" id="sharedRecipeID" name="sharedRecipeID" value="">
                <label for="txtUsername">Recommend to:</label>
                <input type="text" name="txtUsername" id="txtUsername"/>
                @if (ViewBag.ErrorMessage != null)
                {
                    <label class="error" style="color: red">@ViewBag.ErrorMessage</label>
                }
                <input type="submit" class="btn btn-primary page-button" asp-action="ShareMeal" value="Recommend Recipe" id="ShareRecipe" margin-left: 10px; />
            </form>
            <form id="cookMeal" method="POST" style="display: none">
                <input type="hidden" id="recipeID" name="recipeID" value="">
                <input type="submit" class="btn btn-primary page-button" asp-action="CookMealConfirmation" value="Cook Recipe" id="CookRecipe"/>
            </form>
            @foreach (var recipe in ViewBag.AllRecipes)
            {
                <div id="@recipe.RecipeId" style="display: none">
                    <h3 class="recipe-name">@recipe.Name</h3>
                    <p class="recipe-description">@recipe.Description</p>
                    <h4>Steps</h4>
                    <ol class="recipe-steps">
                        @foreach (var step in recipe.Steps)
                        {
                            <li>@step.stepDescription</li>
                        }
                    </ol>
                    <h4>Ingredients</h4>
                    <ul class="recipe-ingredients">
                        @foreach (var ingredient in recipe.Ingredients)
                        {
                            <li>@ingredient.Quantity @ingredient.Measurement @ingredient.IngredientName</li>
                        }
                    </ul>
                </div>
            }
            <form method="post" id="addPlannedMeal" style="display: none;">
                <div class="form-group">
                    <input type="hidden" name="recipeId" id="recipeId" value="">
                    <label for="week">Week:</label>
                    <select name="week" id="week">
                        @foreach (var week in new[] { "This Week", "Next Week" })
                        {
                            <option value="@week">@week</option>
                        }
                    </select>
                    <label for="day">Day:</label>
                    <select name="day" id="day">
                        @foreach (var day in new[] { "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday" })
                        {
                            <option value="@day">@day</option>
                        }
                    </select>
                    <label for="type">Meal Type:</label>
                    <select name="type" id="type">
                        @foreach (var type in new[] { "Breakfast", "Lunch", "Dinner" })
                        {
                            <option value="@type">@type</option>
                        }
                    </select>
                    <div id="errorMessage" style="display: none;">
                        Are you sure You want to overwrite your previous meal?
                    </div>

                </div>
                <div class="button-group">
                    <input type="submit" class="btn btn-primary page-button" asp-action="addPlannedMealPlannedMealsPage" value="Add Planned Meal" style="margin-top: 10px" />
                    <input type="submit" class="btn btn-primary page-button" hidden asp-action="UpdateThisWeeksMeal" value="Confirm Update" />
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .alert {
        height: 30px;
        width: 600px;
        text-align: center; 
        display: flex;
        justify-content: center;
        align-items: center; 
    }
    .alert-danger {
        height: 30px;
        width: 600px;
    }

    #recipe-details-box {
        min-width: 100%;
        width: 125%;
        max-height: 900px;
        padding: 10px;
        border: 1px solid black;
    }

    #recipe-details-box h3 {
        margin-top: 0;
    }

    #recipe-details-box p {
        margin: 0;
    }

    h2 {
        margin-top: 20px;
        text-align: center;
    }

    table {
        border-collapse: collapse;
        margin: 0 auto;
        margin-bottom: 20px;
        max-width: 800px;
        padding-bottom: 10px;
        table-layout: fixed;
        top: 200px;
        width: 100%;
    }

    th,
    td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
        width: 125px;
    }

    th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    select {
        border: none;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 8px;
        width: 100%;
    }

    button {
        background-color: #4CAF50;
        border: none;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        padding: 8px;
        text-align: center;
        text-decoration: none;
    }

    button[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
    }

    td[id$="Details"] {
        border: 1px solid #ddd;
        border-top: none;
        padding: 16px;
    }

    .hidden {
        display: none;
    }

    #shareMeal,
    #cookMeal {
        display: inline-block;
        float: left;
        margin-right: 10px;
        margin-bottom: 25px;
    }

    #addPlannedMeal {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    select {
        background-color: #f2f2f2;
        border: none;
        color: black;
        padding: 8px 16px;
        font-size: 16px;
        margin-right: 10px;
    }

    select:focus {
        outline: none;
        box-shadow: none;
        border: 2px solid #00BFFF;
    }
</style>
<script>
    window.onload = function () {
        doDefaultMeals();
    };
    
    
    const detailsRows = document.querySelectorAll('.details-row');

    // Loop through all details rows
    detailsRows.forEach((row) => {
        // Find the details cell in the row
        const detailsCell = row.querySelector('td:nth-child(2)');

        // Find the corresponding View Recipe button in the row
        const viewRecipeButton = row.querySelector('td:nth-child(3) button');

        // Check if the details cell contains the "You Have not yet added a meal for this time" text
        if (detailsCell.textContent.trim() === "You Have not yet added a meal for this time") {
            // If the details cell contains the text, disable the View Recipe button
            viewRecipeButton.disabled = true;
        }
    });
    const recipeIdInput = document.getElementById('recipeId');
    const addPlannedMealForm = document.getElementById('addPlannedMeal');

    var allIngredientsCheckbox = document.getElementById("AllIngredients");
    var addForm = document.getElementById("addForm");

    allIngredientsCheckbox.addEventListener("change", function () {
        if (allIngredientsCheckbox.checked) {
            addForm.action = "@Url.Action("addAllPlannedMealIngredients", "Home")";
        } else {
            addForm.action = "@Url.Action("addNeededPlannedMealIngredients", "Home")";
        }
    });
    
    
    const dayRows = document.querySelectorAll('.day-row');

    // Add click event listener to each day row
    dayRows.forEach(dayRow => {
        dayRow.addEventListener('click', () => {
            // Get the day for the clicked row
            const day = dayRow.dataset.day;

            // Get all details rows for the clicked day
            const detailsRows = document.querySelectorAll(`.details-row[data-day="${day}"]`);

            // Toggle the "hidden" class for each details row
            detailsRows.forEach(detailsRow => {
                detailsRow.classList.toggle('hidden');
            });
        });
    });
    
    function toggleWeek() {
        if ("@ViewBag.CurrentWeek" === "Next Week") {
            var url = "@Url.Action("goToPlannedMealsPageNextWeek", "Home")";
        } else {
            var url = "@Url.Action("goToPlannedMealsPage", "Home")";
        }
        $.ajax({
          url: url,
          method: "POST",
          success: function(response) {

          }
        });
    }
    
    function removeColumn(day, mealType){
        var dayDetails = day + mealType + "Details";
        var detailsElement = document.getElementById(dayDetails);
        var week = "@ViewBag.CurrentWeek"

        $.ajax({
            type: "GET",
            url: "@Url.Action("RemoveThisWeeksMeal", "Home")",
            data: { day: day, mealType: mealType, week: week },
            success: function (response) {
                console.log(response);
                var recipeName = response.recipeName;
                detailsElement.innerHTML = recipeName;
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
        }

    function showRecipeDetails(day, mealType) {
        var week = "@ViewBag.CurrentWeek"

        $.ajax({
            type: "GET",
            url: "@Url.Action("GetRecipeName", "Home")",
            data: { day: day, mealType: mealType, week: week },
            success: function (response) {
                console.log(response);
                var recipeId = response.recipeId;
                document.getElementById("recipeId").value = "";
                document.getElementById("recipeId").value = recipeId;
                showRecipe(recipeId);
            },
            error: function (xhr, status, error) {
                console.log(xhr.responseText);
            }
        });
    
    }


    function showRecipe(recipeId) {
        var recipeDetails = document.getElementById("recipe-details-box");
        var allRecipes = recipeDetails.children;
        for (var i = 0; i < allRecipes.length; i++) {
            allRecipes[i].style.display = "none";
        }
        var cookRecipe = document.getElementById('cookMeal');
        var shareRecipe = document.getElementById('shareMeal');
        var recipeID = document.getElementById('recipeID');
        var sharedRecipeID = document.getElementById('sharedRecipeID');

        cookRecipe.style.display = "block";
        shareRecipe.style.display = "block";
        recipeID.value = recipeId;
        sharedRecipeID.value = recipeId;
        document.getElementById("addPlannedMeal").style.display = "block";

        // Show the recipe details for the specified recipe ID
        var recipe = document.getElementById(recipeId);
        recipe.style.display = 'inline-block';

        // Set the meal type in the corresponding details cell
        var detailsCell = document.getElementById(mealType + "Details");
        detailsCell.innerHTML = "Recipe " + recipeId;
        
        var cookRecipe = document.getElementById('cookMeal');
        var shareRecipe = document.getElementById('shareMeal');
        var recipeID = document.getElementById('recipeID');
        if (recipeIdInput.value == "") {
            addPlannedMealForm.style.display = 'none';
        }

        cookRecipe.style.display = "block";
        shareRecipe.style.display = "block";
        recipeIdInput.value = recipeId;
        recipeID.value = recipeId;

    }


</script>