@model List<RecipePlannerLibrary.Models.Recipe>

@{
    ViewBag.Title = "Recipes";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>

    <style>
        body { font-family: Arial, sans-serif; }

        table {
            border-collapse: collapse;
            margin: 0 auto;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
        }

        th { background-color: #f2f2f2; }

        tr:hover { background-color: #e2e2e2; }

        #recipe-container {
            display: flex;
            margin-right: 50px;
            margin-top: 50px;
        }

        #recipe-list { flex: 1; }

        #recipe-list h2 { text-align: center; }

        #recipe-list table { width: 100%; }

        #recipe-list tr { cursor: pointer; }

        #recipe-list td:first-child { width: 80%; }

        #recipe-list td:last-child {
            text-align: center;
            width: 20%;
        }

        #recipe-details {
            align-items: center;
            display: flex;
            flex: 1;
            margin-left: 50px;
        }

        #recipe-details-box {
            border: 1px solid black;
            height: 640px;
            padding: 10px;
            position: fixed;
            top: 175px;
            width: 30%;
        }

        #recipe-details-box h3 { margin-top: 0; }

        #recipe-details-box p { margin: 0; }

        #recipe-actions {
            align-items: center;
            justify-content: center;
        }

        #recipe-actions button {
            background-color: #4CAF50;
            border: none;
            color: white;
            cursor: pointer;
            margin: 0 10px;
            padding: 5px 10px;
        }

        #recipe-actions button:hover { background-color: #3e8e41; }

        #recipe-actions button:active { background-color: #4CAF50; }

        #logout {
            background-color: #d9534f;
            color: #fff;
            position: fixed;
            right: 10px;
            top: 5px;
        }

        #search-container {
            align-items: center;
            display: flex;
            margin-bottom: 20px;
        }

        #search-container label { margin-right: 10px; }

        #search-container input[type="text"] {
            flex: 1;
            margin-right: 10px;
            padding: 5px;
        }

        #search-container button {
            background-color: #4CAF50;
            border: none;
            color: white;
            cursor: pointer;
            padding: 5px 10px;
        }

        #search-container button:hover { background-color: #3e8e41; }

        #search-container button:active { background-color: #4CAF50; }
    </style>

</head>
<body>
<input type="radio" name="recipeDisplay" value="available" onclick="document.getElementById('all-recipes').style.display = 'none'; document.getElementById('filtered-recipes').style.display='none'; document.getElementById('available-recipes').style.display='block' ;" checked> Show Available Recipes
<br>
<input type="radio" name="recipeDisplay" value="all" onclick="document.getElementById('available-recipes').style.display = 'none'; document.getElementById('filtered-recipes').style.display='none'; document.getElementById('all-recipes').style.display = 'table';"> Show All Recipes
<br>
<div id="recipe-container">
    <button onclick="location.href='@Url.Action("Index")'" id="logout">Logout</button>
    <div id="recipe-list">
        <div id="search-container">
            <label for="search-bar">Search Tags:</label>
            <input type="text" id="search-bar" name="tag" placeholder="Enter tags...">
            <input type="button" value="Filter" id="search-button">
        </div>
        <div id="filter-tags"></div>
        <h2>Recipes</h2>
        <table id="available-recipes">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            @if (ViewBag.AvailableRecipes.Count == 0)
            {
                <tr>
                    <td colspan="1" style="text-align: center;">Sorry, there are no available recipes that can be made with your current ingredients.</td>
                </tr>
            }
            @foreach (var recipe in ViewBag.AvailableRecipes)
            {
                <tr onclick="showRecipe('@recipe.RecipeId')">
                    <td>@recipe.Name</td>
                </tr>
            }
            </tbody>
        </table>
        <table id="all-recipes" style="display: none;">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var recipe in ViewBag.AllRecipes)
            {
                <tr onclick="showRecipe('@recipe.RecipeId')">
                    <td>@recipe.Name</td>
                </tr>
            }
            </tbody>
        </table>
        <table id="filtered-recipes" style="display: none;">
            <thead>
            <tr >
                <th>Name</th>
                <th>Tags</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div id="recipe-details">
        <div id="recipe-details-box" style="overflow: auto;">
            @foreach (var recipe in ViewBag.AllRecipes)
            {
                <div id="@recipe.RecipeId" style="display: none">
                    <h3 class="recipe-name">@recipe.Name</h3>
                    <p class="recipe-description">@recipe.Description</p>
                    <h4>Steps</h4>
                    <ol class="recipe-steps">
                        @foreach (var step in recipe.Steps)
                        {
                            <li>@step.stepDescription</li>
                        }
                    </ol>
                    <h4>Ingredients</h4>
                    <ul class="recipe-ingredients">
                        @foreach (var ingredient in recipe.Ingredients)
                        {
                            <li>@ingredient.Quantity @ingredient.IngredientName</li>
                        }
                    </ul>
                    @if (recipe.Tags != null && recipe.Tags.Count > 0) {
                        <h4>Tags</h4>
                        <ul class="recipe-tags">
                            @foreach (var tag in recipe.Tags)
                            {
                                <li>@tag</li>
                            }
                        </ul>
                    }
                </div>
            }
        </div>
    </div>
</div>
</body>
<script>
    function showRecipe(recipeId) {
        var recipeDiv = document.getElementById(recipeId);
        var currentDiv = document.querySelector('#recipe-details-box > div[style*="display: block"]');

        if (currentDiv) {
            currentDiv.style.display = 'none';
        }

        recipeDiv.style.display = 'block';
    }

    var tags = [];

    document.getElementById("search-button").addEventListener("click", function () {
        var tag = document.getElementById("search-bar").value;
        tags.push(tag);
        filterRecipes();
        document.getElementById("search-bar").value = "";
    });

    function filterRecipes() {
        var recipes = @Html.Raw(Json.Serialize(ViewBag.AllRecipes));

        var filtered = [];

        for (var i = 0; i < recipes.length; i++) {
            if (recipes[i].tags != null) {
                for (var j = 0; j < recipes[i].tags.length; j++) {
                    if (recipes[i].tags[j].toLowerCase() === tags[tags.length - 1].toLowerCase()) {
                        filtered.push(recipes[i]);
                        break;
                    }
                }
            }
        }

        showFilteredRecipes(filtered);
        updateFilterTags();
    }

    function showFilteredRecipes(recipes) {
        var table = document.getElementById("filtered-recipes").getElementsByTagName("tbody")[0];
        table.innerHTML = "";

        if (recipes.length == 0) {
            var row = table.insertRow();
            var cell = row.insertCell();
            cell.colSpan = "2";
            cell.style.textAlign = "center";
            cell.innerHTML = "No recipes found with the entered tags.";
        }

        for (var i = 0; i < recipes.length; i++) {
            var row = table.insertRow();
            var nameCell = row.insertCell();
            nameCell.innerHTML = recipes[i].name;
            var tagsCell = row.insertCell();
            tagsCell.innerHTML = recipes[i].tags.join(", ");
            row.setAttribute("onclick", "showRecipe('" + recipes[i].recipeId + "')");
            row.style.cursor = "pointer";
        }

        document.getElementById('all-recipes').style.display = 'none';
        document.getElementById('filtered-recipes').style.display = 'block';
        document.getElementById('available-recipes').style.display = 'none';
    }

    function updateFilterTags() {
        var filterTags = document.getElementById("filter-tags");
        filterTags.innerHTML = "";
        for (var i = 0; i < tags.length; i++) {
            var tag = tags[i];
            var span = document.createElement("span");
            span.innerHTML = tag + " <a href='#' onclick='removeFilterTag(\"" + tag + "\")'>x</a>";
            filterTags.appendChild(span);
        }
    }

    function removeFilterTag(tag) {
        var index = tags.indexOf(tag);
        if (index > -1) {
            tags.splice(index, 1);
            if (tags.length === 0) {
                showAvailableRecipes();
            } else {
                filterRecipes();
            }
        }
    }
    
    function showAvailableRecipes() {
        document.getElementById('all-recipes').style.display = 'none';
        document.getElementById('filtered-recipes').style.display = 'none';
        document.getElementById('available-recipes').style.display = 'block';
    }

</script>
</html>