@model List<RecipePlannerLibrary.Models.Recipe>

@{
    ViewBag.Title = "Recipes";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@ViewBag.Title</title>

    <style>
        body { font-family: Arial, sans-serif; }

        table {
            border-collapse: collapse;
            margin: 0 auto;
        }

        th, td {
            border: 1px solid black;
            padding: 5px;
        }

        th { background-color: #f2f2f2; }

        tr:hover { background-color: #e2e2e2; }

        #recipe-container {
            display: flex;
            margin-top: 50px;
            margin-right: 50px;
        }

        #recipe-list { flex: 1; }

        #recipe-list h2 { text-align: center; }

        #recipe-list table { width: 100%; }

        #recipe-list tr { cursor: pointer; }

        #recipe-list td:first-child { width: 80%; }

        #recipe-list td:last-child {
            text-align: center;
            width: 20%;
        }

        #recipe-details {
            align-items: center;
            display: flex;
            flex: 1;
            margin-left: 50px;
            
        }

        #recipe-details-box {
            border: 1px solid black;
            height: 600px;
            padding: 10px;
            position: fixed;
            top: 220px;
            width: 20%;
        }

        #recipe-details-box h3 { margin-top: 0; }

        #recipe-details-box p { margin: 0; }

        #recipe-actions {
            align-items: center;
            justify-content: center;
        }

        #recipe-actions button {
            background-color: #4CAF50;
            border: none;
            color: white;
            cursor: pointer;
            margin: 0 10px;
            padding: 5px 10px;
        }

        #recipe-actions button:hover { background-color: #3e8e41; }

        #recipe-actions button:active { background-color: #4CAF50; }

        #logout {
            background-color: #d9534f;
            color: #fff;
            position: fixed;
            right: 10px;
            top: 5px;
        }
    </style>

    <script>
        function showRecipe(recipeId) {
            var recipeDiv = document.getElementById(recipeId);
            var currentDiv = document.querySelector('#recipe-details-box > div[style*="display: block"]');

            if (currentDiv) {
                currentDiv.style.display = 'none';
            }

            recipeDiv.style.display = 'block';
        }

    </script>
</head>
<body>

<input type="radio" name="recipeDisplay" value="available" onclick="document.getElementById('all-recipes').style.display = 'none'; document.getElementById('available-recipes').style.display = 'block';" checked> Show Available Recipes<br>
<input type="radio" name="recipeDisplay" value="all" onclick="document.getElementById('available-recipes').style.display = 'none'; document.getElementById('all-recipes').style.display = 'table';"> Show All Recipes<br>
<div id="recipe-container">
    <button onclick="location.href='@Url.Action("Index")'"id="logout">Logout</button>
    <div id="recipe-list">
            <h2>Recipes</h2>
            <table id="available-recipes">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                @if (ViewBag.AvailableRecipes.Count == 0)
                {
                    <tr>
                        <td colspan="1" style="text-align:center;">Sorry, there are no available recipes that can be made with your current ingredients.</td>
                    </tr>
                }
                @foreach (var recipe in ViewBag.AvailableRecipes)
                {
                    <tr onclick="showRecipe('@recipe.RecipeId')">
                        <td>@recipe.Name</td>
                    </tr>
                }
                </tbody>
            </table>
            <table id="all-recipes" style="display: none;">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var recipe in ViewBag.AllRecipes)
                    {
                        <tr onclick="showRecipe('@recipe.RecipeId')">
                            <td>@recipe.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    <div id="recipe-details">
        <div id="recipe-details-box" style="overflow: auto;">
            @foreach (var recipe in ViewBag.AllRecipes)
            {
                <div id="@recipe.RecipeId" style="display: none">
                    <h3 class="recipe-name">@recipe.Name</h3>
                    <p class="recipe-description">@recipe.Description</p>
                    <h4>Steps</h4>
                    <ol class="recipe-steps">
                        @foreach (var step in recipe.Steps)
                        {
                            <li>@step.stepDescription</li>
                        }
                    </ol>
                    <h4>Ingredients</h4>
                    <ul class="recipe-ingredients">
                        @foreach (var ingredient in recipe.Ingredients)
                        {
                            <li>@ingredient.Quantity @ingredient.IngredientName</li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
</body>
</html>