@using Microsoft.AspNetCore.Mvc.TagHelpers
@using RecipePlannerLibrary.Models
@model List<RecipePlannerLibrary.Models.Ingredient>;
@{
}
<style>
    #logout {
        position: fixed;
        right: 10px;
        top: 5px;
        background-color: #d9534f;
        color: #fff;
    }

    body {
        background-color: #f5f5f5;
        font-family: Arial, sans-serif;
    }

    #mainform {
        max-width: 600px;
        margin: 30px auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    }

    #addForm {
        max-width: 600px;
        margin: 30px auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        display: none;
    }

    .table {
        max-width: 800px;
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

        .table th,
        .table td {
            border: none;
            padding: 10px;
            text-align: center;
            vertical-align: middle;
        }

        .table th {
            background-color: #f5f5f5;
            font-weight: bold;
            text-transform: uppercase;
        }

        .table td {
            font-size: 18px;
        }

    #ingredientID {
        font-weight: bold;
    }


    input[type="submit"], input[type="button"] {
        padding: 5px 10px;
        font-size: 16px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    #addIngredient {
        background-color: #33b5e5;
        color: #fff;
        margin-right: 10px;
    }

    .page-button {
        background-color: #33b5e5;
        color: #fff;
        margin: 5px;
        flex: 1;
        margin: 5px;
    }

    #cancelButton {
        background-color: #d9534f;
        color: #fff;
        margin-left: 10px;
    }

    input[type="text"] {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #e6e6e6;
        box-sizing: border-box;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pagination {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

        .pagination button {
            background-color: #ddd;
            color: #333;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            margin-right: 5px;
            cursor: pointer;
        }

            .pagination button.disabled {
                opacity: 0.5;
                cursor: not-allowed;
            }

            .pagination button.active {
                background-color: #33b5e5;
                color: #fff;
            }
</style>

<div class="container">
    <form id="mainform">
        <h1>Ingredients</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Ingredient Name</th>
                    <th>Quantity</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Ingredient ingredient in ViewBag.ingredientsOnPage)
                {

                    <tr id="ingredient-@ingredient.id">
                        <td>@ingredient.name</td>
                        <td>
                            <input type="hidden" name="page" value="@ViewBag.currentPage"/>
                            <div class="quantity-container">
                                <input type="submit" asp-action="decrementQuantity" asp-route-id="@ingredient.id" value="-" id="@ingredient.id"/>
                                <span id="ingredient-quantity-@ingredient.id">@ingredient.quantity @ingredient.measurement</span>
                                <input type="submit" asp-action="incrementQuantity" asp-route-id="@ingredient.id" value="+" id="@ingredient.id"/>
                            </div>
                        </td>
                        <td>
                            <input type="submit" asp-action="removeIngredient" asp-route-id="@ingredient.id" value="Remove" id="@ingredient.id" />
                        </td>

                    </tr>
                }
            </tbody>
        </table>
        <div class="pagination">
            @if (ViewBag.currentPage > 1)
            {
                <a href="@Url.Action("goToIngredientsPage", new { page = ViewBag.currentPage - 1 })" class="btn btn-primary page-button">Previous Page</a>
            }
            @for (int i = 1; i <= ViewBag.totalPages; i++)
            {
                <a href="@Url.Action("goToIngredientsPage", new { page = i })" class="btn btn-primary page-button">@i</a>
            }
            @if (ViewBag.currentPage < ViewBag.totalPages)
            {
                <a href="@Url.Action("goToIngredientsPage", new { page = ViewBag.currentPage + 1 })" class="btn btn-primary page-button">Next Page</a>
            }

        </div>
        <div class="button-container">
            <input type="submit" asp-action="Index" value="Logout" id="logout" class="button button-red" />
            <input type="submit" asp-action="goToAddIngredientsPage" value="Add Ingredient" id="addIngredient" class="button button-green" />
        </div>
    </form>
</div>


<script>

    function openForm() {
        document.getElementById("addForm").style.display = "block";
        document.getElementById("mainform").style.display = "none";
    }
    function closeForm() {
        document.getElementById("addForm").style.display = "none";
        document.getElementById("mainform").style.display = "block";
    }
</script>