@model List<RecipePlannerLibrary.Models.Ingredient>;

<form id="mainform">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ingredient Name</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ingredient in ViewBag.ingredients)
            {
                <tr id="ingredient-@ingredient.id">
                    <td id="ingredientID">@ingredient.id</td>
                    <td>@ingredient.name</td>
                    <td>
                        <input type="submit" asp-action="decrementQuantity" asp-route-id="@ingredient.id" value="-" id="@ingredient.id" />
                        <span id="ingredient-quantity-@ingredient.id">@ingredient.quantity</span>
                        <input type="submit" asp-action="incrementQuantity" asp-route-id="@ingredient.id" value="+" id="@ingredient.id" />
                    </td>
                    <td>
                        <input type="submit" asp-action="removeIngredient" asp-route-id="@ingredient.id" value="Remove" id="@ingredient.id" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <input type="button" onclick="openForm()" value="Add Ingredient" id="addIngredient" />
</form>

<form method="post" id="addForm" style="display:none;">
    <div>
        <table>
            <tr>
                <td>Ingredient Name:</td>
                <td><input type="text" name="txtIngredientName" /></td>
            </tr>
            <tr>
                <td>Quantity:</td>
                <td><input type="text" name="txtQuantity" /></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" onclick="closeForm()" asp-action="AddIngredient" value="Add" /></td>
                <td><input type="button" onclick="closeForm()" value="Cancel" id="cancelButton" /></td>
            </tr>
        </table>
    </div>
</form>


<script>

    function openForm() {
        document.getElementById("addForm").style.display = "block";
        document.getElementById("mainform").style.display = "none";
    }
    function closeForm() {
        document.getElementById("addForm").style.display = "none";
        document.getElementById("mainform").style.display = "block";
    }
</script>